<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ljj.fragplugin.plugin1"
          android:versionCode="1001000"
          android:versionName="1.1.0">

    <application>
        <meta-data
            android:name="pluginName"
            android:value="plugin1"/>
        <meta-data
            android:name="hostMinVer"
            android:value="1000000"/>
    </application>

</manifest>